.list-group
  = link_to 'Home', '#', class: "list-group-item #{current_page?(root_path) ? 'active' : ''}"
  = link_to 'Collections Listing', collections_path, class: "list-group-item #{current_page?(collections_path) ? 'active' : ''}"
  = link_to 'Items Listing', items_path, class: "list-group-item #{current_page?(items_path) ? 'active' : ''}"
